<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SGIPC_Portfolio.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    
    <link rel="stylesheet" type="text/css" href="style/site.css" />
    <asp:ContentPlaceHolder ID="Head" runat="server"></asp:ContentPlaceHolder>
        
   

    

    

</head>
<body>
    <nav class="nav">
        <p>KUET SGIPC</p>
        <div>
            <ul id="list">
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <li><a>Gallery</a></li>
                <li><a>Contests</a></li>
                <li>Resources</li>
                <li>Join</li>
            </ul>
        </div>
    </nav>
    <form runat="server">
        <asp:ContentPlaceHolder ID="body" runat="server"></asp:ContentPlaceHolder>
        
        

        
        
    </form>
    
</body>
</html>
