<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SGIPC_Portfolio.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    
    <link rel="stylesheet" type="text/css" href="style/site.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <asp:ContentPlaceHolder ID="Head" runat="server"></asp:ContentPlaceHolder>
        
   

    

    

</head>
<body>
    <nav class="nav">
        <p id="logo">KUET SGIPC</p>
        <div>
            <ul class="nav-links">
                <li class="link" ><a href="index.aspx" >Home</a></li>
                <li class="link"><a href="About.aspx">About</a></li>
                <li class="link"><a href="gallery.aspx">Gallery</a></li>
                <li class="link"><a  href="index.aspx#view-contest">Contests</a></li>
                <li  class="link"><a>Resources</a></li>
                <li class="link"><a href="joinUs.aspx">join</a></li>
            </ul>
        </div>
    </nav>
    <form runat="server">
        <asp:ContentPlaceHolder ID="body" runat="server"></asp:ContentPlaceHolder>
        
        

        
        
    </form>
    
</body>

    <footer class="footer">
    <div class="footer-links">
        <div cssClass="footer-div">
    <p class="footer-head">About SGIPC</p>
    <ul>
        <li>Foundation</li>
        <li>Mission</li>
        <li>Contact</li>
    </ul>

</div>
<div>
    <p class="footer-head">Mentorship</p>
    <ul>
        <li>Program Details</li>
        <li>Apply</li>
        <li>Feedback</li>
    </ul>

</div>
<div>
    <p class="footer-head">Resources</p>
    <ul>
        <li>Training</li>
        <li>Practice</li>
        <li>Archives</li>
    </ul>

</div>

<div>
    <p class="footer-head">Social Media</p>  
    <ul>
        <li>Github</li>
        <li>Facebook</li>
        <li>Youtube</li>
        <li>LinkedIn</li>
    </ul>

</div>
    
    </div>

<p id="copy">© 2026 SGIPC Portfolio. All rights reserved.</p>


</footer>

    
</html>
