<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="SGIPC_Portfolio.SiteMaster" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    
    <link rel="stylesheet" type="text/css" href="style/site.css" />
    <asp:ContentPlaceHolder ID="Head" runat="server"></asp:ContentPlaceHolder>
        
   

    

    

</head>
<body>
    <nav class="nav">
        <p id="logo">KUET SGIPC</p>
        <div>
            <ul id="list">
                <li><a href="index.aspx" >Home</a></li>
                <li><a>About</a></li>
                <li><a href="gallery.aspx">Gallery</a></li>
                <li><a>Contests</a></li>
                <li>Resources</li>
                <li>Join</li>
            </ul>
        </div>
    </nav>
    <form runat="server">
        <asp:ContentPlaceHolder ID="body" runat="server"></asp:ContentPlaceHolder>
        
        

        
        
    </form>
    
</body>
    
</html>
<footer class="footer">
    <div>
        <p>About SGIPC</p>
        <ul>
            <li>Foundation</li>
            <li>Mission</li>
            <li>Contact</li>
        </ul>

    </div>
    <div>
        <p>Mentorship</p>
        <ul>
            <li>Program Details</li>
            <li>Apply</li>
            <li>Feedback</li>
        </ul>

    </div>
    <div>
        <p>Resources</p>
        <ul>
            <li>Training</li>
            <li>Practice</li>
            <li>Archives</li>
        </ul>

    </div>

    <div>
        <p>Social Media</p>
        <ul>
            <li>Github</li>
            <li>Facebook</li>
            <li>Youtube</li>
            <li>LinkedIn</li>
        </ul>

    </div>

</footer>
